<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h1>Login</h1>
    </div>

    <!-- Login Form -->
    <form [formGroup]='loginForm' (ngSubmit)='onSubmit()'>
      <input type="email" id="login" class="fadeIn second" name="login" placeholder="email" formControlName="email">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"
        formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div class="text-centre social-login">
      <h3>OR</h3>
      <span class="btn google" (click)="socialSignIn('google')">
        <i class="fab fa-google"></i>Signin with Google
      </span>
      <span class="btn facebook" (click)="socialSignIn('facebook')">
        <i class="fab fa-facebook-f"></i>Signin with facebook
      </span>
    </div>

    <div *ngIf='error' style="color: red">{{errorMsg}}</div>

    <div id="formFooter">
      <a class="underlineHover" routerLink='../candidate-upload-resume'>Candidate Register</a>
    </div>

  </div>
</div>