[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

legend h2 {
  font-family: 'Dosis', sans-serif;
  color: #2e86c1;
}

div label {
  font-family: 'Dosis', sans-serif;
  text-transform: capitalize
}

fieldset {
  font-family: 'Dosis', sans-serif;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 9px 13px 50px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 50px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 50px -8px rgba(0, 0, 0, 0.75);
}