<fieldset>
  <legend>
    <h2>Schedule Interview</h2>
  </legend>
  <div class="container-float" *ngIf='!successInfo'>
    <form [formGroup]='ScheduleInterviewForm'>
      <div class="form-group">
        <label for="Candidate">Select Candidate</label>
        <select class="form-control" (change)="selectJob()" formControlName="candidate_id"
          [ngClass]="{ 'is-invalid' : f().candidate_id.touched && f().candidate_id.errors}">
          <option *ngFor="let candidate of candidates" [ngValue]="candidate._id">{{candidate.basicInfo.candidateName}}
          </option>
        </select>
        <div *ngIf="f().candidate_id.touched && f().candidate_id.errors" class="invalid-feedback">
          <div *ngIf="f().candidate_id.errors.required" class="alert alert-danger">this field is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Job">Jobs Applied</label>
        <select class="form-control" formControlName="job_id"
          [ngClass]="{'is-invalid' : f().job_id.touched && f().job_id.errors}">
          <option *ngFor="let appliedJob of jobs" [ngValue]="appliedJob._id">{{appliedJob.jobTitle}}</option>
        </select>
        <div *ngIf="f().job_id.touched && f().job_id.errors" class="invalid-feedback">
          <div *ngIf="f().job_id.errors.required" class="alert alert-danger">this field is required</div>
        </div>
      </div>


      <div class="form-group">
        <label for="Interviewer">Select Interviewer</label>
        <select class="form-control" formControlName="interviewer_id"
          [ngClass]="{'is-invalid':f().interviewer_id.touched && f().interviewer_id.errors}">
          <option *ngFor="let iw of interviewers" [ngValue]="iw._id">{{iw.name}}</option>
        </select>
        <div *ngIf="f().interviewer_id.touched && f().interviewer_id.errors" class="invalid-feedback">
          <div *ngIf="f().interviewer_id.errors.required" class="alert alert-danger">this field is required</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label for="Date">Select Date</label>
          <input type='date' [min]="today" class="form-control" formControlName='scheduleDate'
            [ngClass]="{'is-invalid': f().scheduleDate.touched && f().scheduleDate.errors}" />
          <div *ngIf="f().scheduleDate.touched && f().scheduleDate.errors" class="invalid-feedback">
            <div *ngIf="f().scheduleDate.errors.required" class="alert alert-danger">this field is required</div>
          </div>
          <div *ngIf="f().scheduleDate.touched && f().scheduleDate.errors" class="invalid-feedback">
              <div *ngIf="f().scheduleDate.errors.dateErr" class="alert alert-danger">{{ f().scheduleDate.errors.dateErr}}</div>
            </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="time">Select timeslot</label>
          <select class="form-control" formControlName='scheduleTime'
            [ngClass]="{'is-invalid': f().scheduleTime.touched && f().scheduleTime.errors}">
            <option *ngFor='let time of timeslot' [ngValue]="time">{{time}}</option>
          </select>
          <div *ngIf="f().scheduleTime.touched && f().scheduleTime.errors" class="invalid-feedback">
            <div *ngIf="f().scheduleTime.errors.required" class="alert alert-danger">this field is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="interviewType">interview type</label>
        <select class="form-control" formControlName='interviewType' [ngClass]="{'is-invalid': f().interviewType.touched && f().interviewType.errors}">
          <option *ngFor='let type of interviewTypes' [ngValue]='type'>{{type}}</option>
        </select>
        <div *ngIf="f().interviewType.touched && f().interviewType.errors" class="invalid-feedback">
            <div *ngIf="f().interviewType.errors.required" class="alert alert-danger">this field is required</div>
          </div>

      </div>

      <div class="form-group">
        <label for="interviewLevel">interview level</label>
        <select class="form-control" formControlName='interviewLevel'>
          <option *ngFor='let level of interviewLevels' [ngValue]='level'>{{level}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="interviewVenue">venue</label>
        <input type="text" class="form-control" formControlName='interviewVenue'>

      </div>

      <div class="form-group">
        <label for="dressCode">dress code</label>
        <input type="text" class="form-control" formControlName='dressCode'>
      </div>
      <button type="button" class="btn btn-info" (click)="onSubmit()">Submit Information</button>
    </form>
  </div>

  <div *ngIf='successInfo'>
    <h3>Success!! interview has been scheduled. <a style="cursor: pointer;" (click)="goBack()">Go back</a></h3>
  </div>

</fieldset>