<div class="container-float">
  <table class="table">
    <thead class="thead-dark">
      <tr>
          <th scope="col">Candidate</th>
          <th scope="col">Candidate Email</th>
        
        <th scope="col">Interviewer</th>
        <th scope="col">Job Title</th>
        <th scope="col">Interview date</th>
        
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let status of allStatus'>
        <td>{{status.candidate_id.basicInfo.candidateName}}</td>
        <td>{{status.candidate_id.basicInfo.candidateEmail}}</td>
        <td>{{status.interviewer_id.name}}</td>
        <td>{{status.job_id.jobTitle}}</td>
        <td>{{status.schedule_date}}</td>
        <td>{{status.result}}</td>
      </tr>
    </tbody>
  </table>
</div>