input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

legend h2 {
  font-family: 'Dosis', sans-serif;
  color: #2e86c1;
}

fieldset {
  font-family: 'Dosis', sans-serif;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 9px 13px 50px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 50px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 50px -8px rgba(0, 0, 0, 0.75);
}